<div class="clear"></div>
<h1>Whirlpool Administration Page</h1>
<div class="clear"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projects">
      <th scope="row">1</th>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>
        <img src="../../assets/edit.png" class="editIcon" (click)="edit(item)">
        <img src="../../assets/remove.png" class="editIcon" (click)="delete(item)">
      </td> 
    </tr>
    
  </tbody>
</table>