<div align="center">
<div class= "clear"></div>
<form class="form-horizontal" action="">
    <div *ngIf="!isValid" class="alert alert-danger"  role="alert">
        <strong>Error</strong> {{message}}.
      </div>
  <div class="form-group">
    <h3>General Information</h3>
    <label class="control-label col-sm-4" align="left" for="name">Name:<span class="required">*</span></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" 
      [(ngModel)]="project.name" name="name" id="name" placeholder="Enter Name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" align="left"  for="description">Description:</label>
    <div class="col-sm-4"> 
      <input type="text" [(ngModel)]="project.description" class="form-control" id="description" name="description" placeholder="Enter Description">
    </div>
  </div>
  <div class= "clear"></div>
   
    <div class="col-sm-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3>Steps</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group" dnd-sortable-container [sortableData]="steps">
              <li *ngFor="let item of steps; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item.name}}</li>
            </ul>
          </div>
        </div>
      </div>

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
        <div class= "clear"></div>
      <button type="submit" (click)= "saveOrUpdate()" class="btn btn-primary">Save</button>
      <button type="submit" (click)= "viewProject()" class="btn btn-danger">Cancel</button>
    </div>
  </div>

  

</form>
</div>